.messenger{
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu{
  flex: 3.5;
}
.chatMenuInput{
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;

}
.chatMenuInput:focus{
  outline: none;
}
.chatBox{
  flex: 5.5;
}
.chatBoxWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.chatBoxBottom{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatBoxTop{
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}
.chatMessageInput{
  width: 80%;
  height: 70px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(241, 241, 241);
}
.chatMessageInput:focus{
  outline: none;
}
.chatOnline{
  flex: 3;
}
.chatSendBtn{
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: green;
  color: white;
  cursor: pointer;
}
.chatBoxWrapper, .chatMenuWrapper, .chatOnlineWrapper{
  padding: 10;
  height: 100%;
}
.noConversationText{
  position: absolute;
  top: 30%;
  font-size: 25px;
  color: rgb(189, 189, 189);
  text-align: center;
  cursor: default;
}
